#container{
  /*familia da fonte*/
  font-family: "Tahoma", serif;
  background-color: #9e9393;
  margin-left: 20%;
  margin-right: 20%;
  height: 600px;
}
/*Estilizando a lista marcada como menu*/
#menu-vert{

  padding: 0px;
}
#menu-vert li{
  display: inline;
  padding-left: 10%;
  color:#fff;
  font-weight: bold;

}
#menu-vert li a{
  text-decoration: none;
  padding: 3%;
  color:#fff;
  transition: color 2s;
}

#menu-vert li a:VISITED{
  text-decoration: none;
  color:#fff;
}

#menu-vert li a:LINK{
  color:#fff;
}

#menu-vert li a:hover{
  color:#1e1d1d;
  background-color: #fff;
}



.nav-top{
  background-color: #1e1d1d;
  border-radius: 5px;
  padding: 0.1%;
}
.img-logo{
  width: 25%;
}
